.container {
	width: 100%; /*Set the width of the entire website here */
	 /* Margin-left and right are set to auto to center the container */
	margin-left:10px;
 }



 .navbar-default {height:52px;width:100%;}


.jumbotron {
    margin-top: 50px;
    background-color:#a6ff4d;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    opacity:0.50;
}
.jumbotron h1{text-align:center;}
#first
{
	height:600px;
	margin-bottom:10px;
}


body
{
	background:url("../img/back.jpg");
	background-size:1600px 1600px;
	  
}

.hve-pro {    background-color:#b3ffb3;padding: 5px; width:100%; height:auto;float:left;opacity:0.75;}
.hve-pro p {float: left;color:black;font-size: 25px;text-transform: capitalize;padding: 5px 20px;font-family: 'Noto Sans', sans-serif;}


.footer {
	background: #a6ff4d;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	opacity:0.75;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer-bottom {
	background: #a6ff4d;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;

}


.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	list-style-type: none;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}